<label for="nome">Nome:</label>
<input type="text" name="nome" value="{{ pessoa.nome }}">
<label for="sobrenome">Sobrenome:</label>
<input type="text" name="sobrenome" value="{{ pessoa.sobrenome }}">
<label for="email">Email:</label>
<input type="email" name="email" value="{{ pessoa.email }}">
<label for="cargo">Cargo:</label>
<input type="number" name="cargo" min="1" max="2" value="{{ pessoa.cargo.id }}"/>
<label for="password">Senha:</label>
<input type="password" name="senha" value="{{ pessoa.senha }}">
<br>
<input type="submit" value="Salvar">