{% extends "partials/base.html" %}
{% block title %}{{ user.nome }} {{ user.sobrenome }}{% endblock title %}
{% block internal_css %}
    <style type="text/css">
        form
        {
            display: grid;
            max-width: 10%;
        }
    </style>
{% endblock internal_css %}
{% block content %}
    <h1>{{ user.nome }} {{ user.sobrenome }}</h1>
    <figure>
        <img src="../../media/{{user.imagem}}" width="100px" width="100px">
    </figure>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form }}
    </form>
    <br>
    {% if user.is_authenticated %}
        <p><a href="{% url 'autenticacao:logout' %}">Sair</a></p>
    {% endif %}
    <a href="{% url 'inicio' %}" class="voltar"> &lt= Voltar</a>
{% endblock content %}