{% extends "partials/base.html" %}
{% block title %}{{ user.nome }} {{ user.sobrenome }}{% endblock title %}
{% block internal_css %}
    <style type="text/css">
        form
        {
            display: grid;
            max-width: 10%;
        }
    </style>
{% endblock internal_css %}
{% block content %}
    <h1>{{ user.nome }} {{ user.sobrenome }}</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {% include "partials/formulario.html" %}
    </form>
    <br>
    {% if user.is_authenticated %}
        <p><a href="{% url 'autenticacao:logout' %}">Sair</a></p>
        <p>{{ user.nome }}</p>
    {% endif %}
    <a href="{% url 'inicio' %}" class="voltar"> &lt= Voltar</a>
{% endblock content %}