<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nome }}</title>
</head>
<body>
    <textarea name="" id="chat" readonly></textarea>
    <br>
    <input type="text" id="texto" placeholder="Digite sua mensagem">
    <button id="btn">
        Enviar
    </button>



    <script>
    
        const chatSocket = new WebSocket("ws://127.0.0.1:8000/ws/app/{{ nome }}/")

        // Recebe mensagem
        chatSocket.onmessage = function(event){
            const data = JSON.parse(event.data)
            document.getElementById('chat').value += `${data.message} \n`
            document.getElementById('texto').value = ''

        }
        // Envia mensagem
        var btn = document.getElementById('btn')
        btn.addEventListener("click", function(event){
            chatSocket.send(JSON.stringify({
                'message': document.getElementById('texto').value
            }));



        }, true)


    </script>

</body>
</html>